.sel4_cache
qemu-build
build
build*
odroid-build
compile_commands.json
doxygen/
.vscode/settings.json
**/venv/
**/__pycache__/
scripts/model_state/config.txt
scripts/model_state/*.csv
scripts/proc/*.csv
basic.csv
