.sel4_cache
qemu-build
docker-build
qemu-build-nosudo
build
build*
odroid-build
compile_commands.json
doxygen/
.vscode/settings.json
**/venv/
pyenv
**/__pycache__/
scripts/model_state/config.txt
scripts/model_state/*.csv
scripts/proc/*.csv
basic.csv
scripts/proc/tmp.output
scripts/model_state/tmp.output
scripts/proc/out.debug
scripts/proc/test.py
scripts/proc/trial.cypher
scripts/proc/fusey*
scripts/proc/submarine/plos.pdf
scripts/proc/submarine/sosp.pdf
scripts/proc/submarine/plos_ind.html
scripts/proc/submarine/plos.html
scripts/proc/submarine/ploss.html
scripts/proc/submarine/sosp.pdf_ind.html
scripts/proc/submarine/sosp.pdf.html
scripts/proc/submarine/sosp.pdfs.html

# VM large binary files
vm/*.qcow2
vm/*.iso
vm/efi_vars.fd
