[submodule "kernel"]
	path = kernel
	url = https://github.com/seL4/seL4.git
[submodule "projects/musllibc"]
	path = projects/musllibc
	url = https://github.com/seL4/musllibc.git
[submodule "projects/seL4_libs"]
	path = projects/seL4_libs
	url = https://github.com/seL4/seL4_libs
[submodule "projects/sel4runtime"]
	path = projects/sel4runtime
	url = git@github.com:seL4/seL4runtime.git
[submodule "projects/util_libs"]
	path = projects/util_libs
	url = git@github.com:seL4/util_libs.git
[submodule "projects/sel4_projects_libs"]
	path = projects/sel4_projects_libs
	url = git@github.com:seL4/seL4_projects_libs.git
[submodule "tools/nanopb"]
	path = tools/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "tools/opensbi"]
	path = tools/opensbi
	url = https://github.com/riscv/opensbi
[submodule "tools/seL4"]
	path = tools/seL4
	url = git@github.com:seL4/seL4_tools.git
[submodule "projects/sel4-gpi"]
	path = projects/sel4-gpi
	url = git@github.com:sid-agrawal/sel4-gpi.git
