[submodule "seL4"]
	path = seL4
	url = git@github.com:sid-agrawal/seL4.git
[submodule "sel4cp"]
	path = sel4cp
	url = git@github.com:sid-agrawal/sel4cp.git
[submodule "vmm"]
	path = vmm
	url = git@github.com:Ivan-Velickovic/sel4cp_vmm.git
[submodule "microkit_tutorial"]
	path = microkit_tutorial
	url = git@github.com:au-ts/microkit_tutorial.git
